<html>
    
        <head>
            <style>
        font-weight: bold;
margin-bottom: 2rem;
color: #333;
}

.navigation-buttons {
display: flex;
gap: 1.5rem;
margin-bottom: 2rem;
}

.navigation-buttons a {
text-decoration: none;
color: white;
font-weight: bold;
}




.stats-container {
display: flex;
gap: 2rem;
flex-wrap: wrap;
justify-content: center;
}

</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
            <a href="#" class="navbar-brand mb-0 h1">
              <img class="d-inline-block align-top rounded-circle" src="kiwi.PNG" width="30" height="30" alt="Logo">
               <b> Warehouse Management </b>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav ms-auto me-5 list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="hardware.html"> Hardware</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="qualityControl.html">Quality Control</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href="warehousedistribution.html">Warehouse Distribution Records</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Logistics Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="warehousemanagerDashboard.html">Homepage</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="charts.html">Dashboard</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Log Out</a>
                </li>
              </ul>
            </div>
            </div>
            </nav>
        <center>
            <h1>Add/Update Delivery of Packed Produce to database</h1>
            <br/><br/>
            {% if submitted %}
               The new delivery was added to database succesfully

            {% else %}
                <form action="" method=POST>
                    {% csrf_token %}
                     {{ form.as_p }}
                     <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
            {% endif %}

        </center>
    </body>
</html>>
